@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Loved+by+the+King';

html {
    overflow: hidden;
    font-size: 16px;
}
body {
    background-color: black;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: 300;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
color:white;
}
:focus {
outline: 0;
border:none;
color: rgba(0, 0, 0, 0);
}
h1, h2, h3, h4 {
    margin: 0 auto 0 0;
    line-height: 1.4;
}
svg{
  z-index: 4;
  position: absolute;
  min-width: 28rem;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
ul{
  list-style-type: none;
  margin:0;
}

li.active a {
  color:white;
}
li a:hover {
  color:white;
}

p {
    margin: 0 auto 0 0;
    line-height: 1.2;
}

#body{
  width:100vw;
  height: 100vh;
position:fixed;
overflow: auto;
}

.label {
    margin: 1rem;
    max-width: 400px;
    z-index: 4;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    font-size: 1.2rem;
}
.toplabel {
  z-index: 3;
  position: relative;
  bottom: auto;
  right: 0px;
  text-align: right;
  font-size: 1.2rem;
  top: 0px;
}
#navigation{
  margin: 1rem;
  right:0px;
}
#logo {
    position: fixed;
    top: 3%;
    left: 3%;
    width: 15rem;
    z-index: 3;
}
.info {
    padding-top: 1%;
    color: grey;
    font-size: 1.6rem;
    /*font-style: italic;*/

}
.title {
    text-align: center;
    font-size: 3rem;
}
a, a:visited, a:active, a:hover {
    color: grey;
    text-decoration: none;
    font-weight: 700;
}


text {
  font-family: 'Loved by the King', cursive;
    font-size: 45px;
    fill: grey;
}




.fill {
  position: absolute;
  z-index: 0;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.fill.left{
  /*left:0;*/
  /*align-self: flex-start;*/
}
.fill.right{
  /*right:0;*/

  /*align-self: flex-end;*/
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

@media (min-aspect-ratio: 16/9) {
    .fill {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .fill {
        height: 100%;
        width: auto;
    }
    .label {
      /*text-align: center;*/
}
}



@media (max-width: 780px) {
    html {
        font-size: 13px;
    }
}




/*SECTIONS*/

#intro, #intro g {
  color:white;
  fill: white;
}
#intro a, #intro a:visited, #intro a:active, #intro text {
  color:#3CE6C6;
  fill: #3CE6C6;
}
#intro a:hover {
    color: white;
}
#made li{
  color:grey;
}
#bosch, #bosch g {
  color:white;
  fill: white;
}
#bosch a, #bosch a:visited, #bosch a:active, #bosch text {
    color: rgb(255, 215, 0);
    fill: rgb(255, 215, 0);
}
#bosch a:hover {
    color: white;
}
#ideas3 li {
  color:black;
}

#schunk, #schunk g {
  color:rgb(80,80,80);
  fill:black;
}
#schunk a, #schunk a:visited, #schunk a:active, #schunk text {
    color: #102090;
    fill: #102090;
}
#schunk a:hover {
    color: white;
}

#lapp, #lapp g{
  color:white;
  fill:white;
}
#lapp a, #lapp a:visited, #lapp a:active, #lapp text {
    color: #FE9020;
    fill: #FE9020;
}
#lapp a:hover {
    color: grey;
}

#outro, #outro g {
  color:grey;
  fill: white;
}
#outro a, #outro a:visited, #outro a:active, #outro h2, #outro text {
  color:white;
  fill: white;
}
#outro a:hover {
    color: pink;
}
